.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    position: sticky;
    top: 0;
    padding: 30px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 75px 50px;
}
.cart-container{
    background-color: rgba(255, 153, 0, 0.3);
}
@media screen and (max-width: 576px) {
    .products-container{
        grid-template-columns: repeat(1, 1fr);
    }
}